.container
  %hr
  .row
    .col-md-8
      %h2
        = @posting.job_title
      = "Posted #{Time.now.strftime("%b %e")}"
      %br
      %br
      %h4
        %b
          = @posting.company_name
        %br
        = "Location: #{@posting.company_location}"
        %br
          = link_to @posting.company_url, @posting.company_url
    .col-md-4
      .company-logo-img
        = image_tag "https://placeholdit.imgix.net/~text?txtsize=33&txt=150%C3%97150&w=150&h=150"
  %hr
  .row 
    .col-md-8
      = @posting.description.html_safe    
    .col-md-4
  %hr
  .well
    %h4
      %b How to Apply:
    = @posting.application_instructions.html_safe

= form_for @posting do |f|
  = f.hidden_field :user_id, value: current_user.id
  = f.hidden_field :job_title, value: @posting.job_title
  = f.hidden_field :company_name, value: @posting.company_name
  = f.hidden_field :company_location, value: @posting.company_location
  = f.hidden_field :kind, value: @posting.kind
  = f.hidden_field :description, value: @posting.description
  = f.hidden_field :application_instructions, value: @posting.application_instructions
  = f.submit "Edit" 
  = f.submit "Create Posting"  