.container
  %hr
  .row
    .col-md-8
      %h2
        = @posting.job_title
      = "Posted #{@posting.created_at.strftime("%b %e")}"
      %br
      %br
      %h4
        %b
          = @posting.company_name
        %br
        = "Location: #{@posting.company_location}"
        %br
          = link_to @posting.company_url, @posting.company_url
    .col-md-4
      .company-logo-img
        = image_tag @posting.logo.thumb
  %hr
  .row 
    .col-md-8
      = @posting.description.html_safe    
    .col-md-4
  %hr
  .well
    %h4
      %b How to Apply:
    = @posting.application_instructions.html_safe