.container
  %h1 Job Board
  %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus lacinia pharetra erat in pellentesque. In sagittis ultrices malesuada. 
  .panel.panel-primary
    .panel-body
      - @postings.each do |pg|
        %h3
          = pg[0].capitalize
        .panel.panel-default
          %table.table.table-striped
            %tbody
              - pg[1].each do |p|
                %tr
                  %td
                    %b
                      = "#{p.company_name}"
                    &nbsp;
                    = link_to p.job_title, posting_path(p)
                    &nbsp;
                    = new_posting?(p)
                    .pull-right
                      = p.created_at.strftime("%b, %e")